# See http://help.github.com/ignore-files/ for more about ignoring files.

# exclude everything
Deployment/Output/ISO/*

# exclude everything
Deployment/Output/WIM/*

# exclude everything
Deployment/Sources/DVD/*

# exclude everything
Deployment/Boot/*

# exclude everything
Deployment/tools/ResHack/ResourceHacker.log