# See http://help.github.com/ignore-files/ for more about ignoring files.

# exclude everything
Deployment/Output/ISO/*

# exclude everything
Deployment/Output/WIM/*

# exclude everything
Deployment/Sources/DVD/*

# exception to the rule
!Deployment/Sources/DVD/Readme.txt 

# exclude everything
Deployment/Boot/*

# exception to the rule
!Deployment/Boot/Readme.txt 

# exclude everything
Deployment/tools/ResHack/ResourceHacker.log